.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 0 4rem;
  background: white;
  border-bottom: 1px solid rgba($color: #262a32, $alpha: 0.1);

  &__hamburger {
    display: none;
    cursor: pointer;
    position: absolute;
    inset: 0;
    padding: 12px;
    width: 10%;
  }
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--text {
      display: flex;
      flex-direction: column;
      line-height: 1.4em;
      margin-left: 10px;

      span:first-of-type {
        font-size: 31px;
        font-weight: bold;
        letter-spacing: 8px;
        color: rgba(1, 24, 71, 255);
        text-align: left;
      }

      span:last-of-type {
        font-size: 18px;
        font-weight: normal;
        color: #84bc22;
        text-align: left;
      }
    }
  }

  &__icons {
    display: flex;
    padding-right: 1.8rem;
    list-style: none;
    cursor: pointer;

    li {
      padding-right: 2em;

      &:last-child {
        padding: 0;
      }

      svg {
        opacity: 0.3;
        transition: opacity 0.2s ease-in-out;
      }

      svg:hover {
        opacity: 1;
      }
    }

    &--item {
      &--fav {
        position: relative;
      }

      &--cart {
        position: relative;
      }

      &--badge {
        position: absolute;
        z-index: 2;
        width: 15px;
        height: 15px;
        left: 18px;
        bottom: 25px;
        color: #84bc22;
        font-size: 8px;
        font-weight: 600;
        text-align: center;
        border: 2px solid #84bc22;
        background: white;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}

//###################################mobile devices

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    justify-content: center;
    &__hamburger {
      display: block;

      &--close {
        font-size: 20px;
        text-align: center;
        color: rgba($color: #262a32, $alpha: 0.7);
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        width: 40px;
        padding: 5px 0;
      }

      &--text {
        display: none;
      }
    }
    &__icons {
      display: none;
    }
  }
}
