.benefits {
  display: flex;
  padding: 2.8rem;
  background: #45413e;
  &__item {
    display: flex;

    align-items: center;
    width: 100%;
    &:not(:last-child) {
      margin-right: 3rem;
    }

    svg {
      width: 1em;
      height: 1em;
      font-size: 6em;
    }

    & > div {
      hyphens: auto;
      width: 70%;

      h3 {
        margin-top: 0;
        color: white;
      }

      span {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

@media (max-width: 820px) {
  .benefits {
    flex-direction: column;
    padding: 2rem;

    &__item {
      justify-content: space-around;

      svg {
        margin: 0;
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem;
      }
      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      div {
        margin-left: 2rem;

        &:nth-child(2) {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and(min-width: 821px) {
  .benefits__item svg {
    margin-right: 2rem;

    div {
      width: 50%;
    }
  }
}
