.dropdown {
  &--off {
    display: none;
  }
  &--active {
    padding: 0;
    background: #262a32;

    .dropdown__list {
      display: flex;
      flex-direction: column;

      &--sub {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
