.dropdown {
  &--off {
    display: none;
  }
  &--active {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin: 0;
    background: #262a32;

    #DropDownImage {
      border-radius: 10px;
    }

    .dropdown__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 70%;

      &--header {
        display: flex;
        width: 90%;
        color: #fff;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 0 1rem 0;
      }

      &--sub {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        line-height: 1.8rem;
        font-size: 1rem;
        font-weight: 600;

        &__item {
          list-style: none;
          color: #fff;
          padding: 0;
        }
      }
    }
  }
}
