.navigation {
  height: 100%;
  align-self: flex-end;

  &__list {
    display: flex;
    align-items: stretch;
    list-style: none;
    margin: 0;

    &--item {
      font-size: 14px;
      font-weight: 500;
      padding: 1.5em 1.5em 2em 0.5em;
      color: #262a32;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: rgba(132, 188, 34, 1);
      }

      svg {
        display: none;
      }

      &__services {
        display: none;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        padding: 4rem;
        left: 0;
        width: 100%;
        top: 100%;
        height: 350px;
        background: #262a32;

        &__container {
          display: flex;
          height: 263px;
          width: 100%;
          padding: 0;
          list-style: none;
          color: white;
          justify-content: space-between;

          &--categorie {
            height: 100%;
            font-size: 14px;

            &--a {
              display: flex;
              flex-direction: column;
              align-content: space-between;
              width: 100%;
            }

            &--b {
              width: 33%;
            }

            &--title {
              text-transform: uppercase;
              font-weight: bold;
            }

            &__list {
              flex-direction: column;
              flex-wrap: wrap;
              padding: 1rem 0;
              height: 100%;
              list-style: none;
              line-height: 1.5rem;
              color: rgba(255, 255, 255, 0.7);

              li {
                line-height: 1.8rem;
              }
            }
          }
        }

        img {
          border-radius: 0.5rem;
        }
      }

      &:nth-child(1) {
        padding-left: 1.5rem;
        padding-right: 0.5rem;
        border-bottom: 2px solid rgba(132, 188, 34, 0);
        &:hover {
          color: #fff;
          background: #262a32;
          border-bottom: 2px solid rgba(132, 188, 34, 1);
          & > div {
            display: flex;
          }
        }
      }

      &:nth-child(5),
      &:nth-child(6) {
        color: rgb(189, 195, 199);
        padding-left: 1.5em;

        &:after {
          content: url(../../../assets/icons/ArrowDown.svg);
          padding-left: 1.5em;
        }

        &:hover {
          color: rgba(132, 188, 34, 1);
        }
      }
      span::after {
        content: url(../../../assets/icons/ArrowDown.svg);
        padding-left: 1rem;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navigation {
    display: none;

    &--active {
      display: block;
      position: absolute;
      width: 100%;
      padding: 0.5rem;
      top: 52px;
      background: #262a32;
      height: auto;

      img {
        display: none;
      }
    }

    &__list {
      flex-direction: column;
      padding: 0;
      line-height: 1.5rem;

      &--item {
        font-size: 12px;
        font-weight: 600;
        padding: 0.2rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__services {
          position: static;

          &--active {
            width: 100%;
          }

          &__container {
            padding: 0;
            flex-direction: column;
            height: auto;

            &--categorie {
              &--a {
                margin: 0;

                ul {
                  display: none;
                }
              }

              &--b {
                ul {
                  display: none;
                }
              }
              &--title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 12px;
                font-weight: lighter;
                padding-left: 0.5rem;
                text-transform: capitalize;
                width: 8rem;
              }

              &__list {
                padding: 0 1rem;
                font-size: 12px;
                font-weight: normal;
                li {
                  margin: 0;
                  line-height: 1.5rem;
                }
              }
            }
          }
        }

        svg {
          display: block;
        }

        &:nth-child(1) {
          padding: 5px;
          border-bottom: 0;
          display: flex;
          flex-direction: column;

          & > div:first-of-type {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
          }

          &:hover {
            background: none;
            border: none;
            & > div:last-of-type {
              display: none;
            }
          }

          span::after {
            padding: 0;
            content: none;
          }
        }

        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navigation {
    &__list {
      padding: 0;
      img {
        display: none;
      }
      &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.1rem;
        width: 4.5rem;
        padding: 0;
        font-size: 11px;

        &:nth-child(1) {
          width: 7rem;
        }
        &__services {
          padding: 1rem;
        }
        &:nth-child(5),
        &:nth-child(6) {
          padding-left: 1rem;
          width: 3rem;

          &::after {
            padding-left: 0.3rem;
          }
        }

        &__services {
          &__container {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .navigation {
    &__list {
      padding: 0;
      &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.1rem;
        width: 6rem;
        padding: 0;

        &:nth-child(1) {
          width: 8rem;
        }
        &__services {
          padding: 3rem;
        }
        &:nth-child(5),
        &:nth-child(6) {
          padding-left: 2rem;
          width: 3rem;

          &::after {
            padding-left: 0.3rem;
          }
        }
      }
    }
  }
}
