.icons {
  display: flex;
  list-style: none;
  cursor: pointer;
  align-items: center;

  li {
    padding-right: 2em;

    &:last-child {
      padding: 0;
    }

    svg {
      opacity: 0.3;
      transition: opacity 0.2s ease-in-out;
    }

    svg:hover {
      opacity: 1;
    }
  }

  &--item {
    .svg {
      width: 1em;
      height: 1em;
      font-size: 27px;
    }
    &--fav {
      position: relative;
      .svg {
        width: 1em;
        height: 1em;
        font-size: 27px;
      }
    }

    &--cart {
      position: relative;
      .svg {
        width: 1em;
        height: 1em;
        font-size: 27px;
      }
    }

    &--badge {
      position: absolute;
      z-index: 2;
      width: 15px;
      height: 15px;
      left: 18px;
      bottom: 18px;
      color: #84bc22;
      font-size: 8px;
      font-weight: 600;
      text-align: center;
      border: 2px solid #84bc22;
      background: white;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}
